@{
    ViewBag.Title = "糖尿病足管理系统";
}

<div class="jumbotron">
    <h1>欢迎使用糖尿病足管理系统</h1>
    <p class="lead">这是一个帮助糖尿病足患者进行自我管理的系统</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>血糖记录</h2>
        <p>记录和跟踪您的血糖值</p>
    </div>
    <div class="col-md-4">
        <h2>伤口护理</h2>
        <p>跟踪足部伤口愈合情况</p>
    </div>
    <div class="col-md-4">
        <h2>药物管理</h2>
        <p>管理您的用药计划和提醒</p>
    </div>
</div>